* {
    padding: 0px;
    margin: 0px;
}

body {

    font-family: 'Gabarito', 'sans-serif';
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;

}

.navbar__sec1__title {
    color: rgb(129, 17, 129);
    align-items: center;

}

.navbar__sec2 {
    display: flex;
    gap: 10px;
    width: 600px;
    padding: 10px;
    border-radius: 30px;
    border: solid black 1px;
    align-items: center;

}

.navbar input {
    width: 300px;
    border: none;
    font-size: 16px;
    gap: 10px;

}

.navbar input:focus {
    outline: none;
}

.navbar__sec3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
    align-items: center;

}

.categories p {
    color: white;
    background-color: blueviolet;
    border-radius: 30px;
    width: 200x;
    padding: 10px;


}

.sale-image img {
    width: 100%;
    height: auto;

}

.recommended {
    padding: 10px;

}

.recommended-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;


}

.coursecode {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 10px;
}

.coursecode img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;

}

.topic-container {

    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;








}

.topic-container p {


    border: solid gray 2px;
    flex-grow: 1;
    padding: 10px;

    flex-basis: 25%;
    flex-grow: 1;





}

.popular {
    padding: 10px;
}

.popular-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footers {
    background-color: black;
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;




}

.footer1 {
    color: white;
    padding: 10px;
    gap: 10px;



}


.footer-3 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: BLACK;
    color: WHITE;
    padding: 20px
}

.footers p {
    margin: 20px;

}

.navbar4 {
    display: none;
}

@media screen and (max-width:800px) {
    body {
        font-size: 12px;
    }

    .navbar {
        gap: 10px;
    }



}



@media screen and (max-width:600px) {
    body {
        font-size: 12px;
    }

    .navbar__sec3 {
        display: none;
    }

    .navbar {
        gap: 10px;

    }

    .categories {
        display: none;
    }

    .navbar4 {
        display: block;
    }

    .coursecode {

        flex-basis: 40%;
    }

}
